<body>
  <div style="height:850px" class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">

          <div class="card-body">
            <h5 class="card-title text-center"> Admin Giriş Zaten Aktif !</h5>
            

           

              
             <button style="margin-bottom:12px" class="btn btn-lg btn-danger btn-block"><a style="color:white;text-decoration: none;" href="/cikis">Çıkış Yap </a></button>
            

          </div>

        </div>
      </div>
    </div>

  </div>
</body>