<div style="height:850px;" class="container">

    <img class="responsive" src="/public/img/node.png" alt="">

    <div>

        <p><b> 
        <h3>Node Js </h3>
        NodeJS ölçeklenebilir, event-driven (olay güdümlü) asenkron (asynchronous event driven JavaScript
                runtime), non-blocking I/O çalışma modelini kullanır. Dolayısıyla yüksek bir performans sunmaktadır.
                Ayrıca, ISS, Apache gibi web server kurulumları yerine kolaylıkla web server oluşturulabilmektedir.</b>
        </p>
    </div>
    <div> <b> <p> Ek olarak real time (gerçek zamanlı) web uygulamaları web-socket teknolojisi ile performans öncelikli bir şekilde hazırlanabilmekte. 
    Bu özellikler göz önünde bulundurulduğunda, NodeJS’in web uygulaması geliştirme sürecini oldukça etkili ve pratik bir hale getirdiğini söyleyebiliriz. 
    Elbette, öncesinde NodeJS’in iş ele alış biçimine ve platformun gereksinimlerine aşinalık kazanmak gerekmekte.
     NodeJS’in sunduğu avantajları maddeler halinde derleyecek olursak;
JavaScript ile neredeyse tüm gereksinimleri karşılayabilme,
İş akışında, tek bir thread (iş parçacığı) ile bloklanmadan çalışabilme (thread sayısı arttıkça o kadar risk ve duruma göre performans gereksinimi söz konusu olabilir),
Eşzamansız (Asenkron / Async) mimari ile kolayca istekleri / iş akışını yönetebilme,
NPM (Node paket yöneticisi / package manager; ayrıca bkz. Yarn) ile bağımlılıkları (modül / paket) kolaylıkla yönetebilme.
İş ele alış biçimlerini NodeJS ile yeniden ele alan pek çok şirket / servis ciddi oranda performans artışı ve kaynak tasarrufu elde ettiklerini belirtmekteler.
<br><br><br>
<h3>Neden popüler ? </h3>


Popüler olmasında elbette ki Node.js’ın en başta ölçeklenebilirlik sorununa çok iyi çare bulmasının yanı sıra bence diğer bir faktörde Microsoft’un bu teknolojiyi hemen benimsemesidir. 
Bu proje sadece Microsoft tarafında değil daha bir çok büyük ölçekli firma tarafından başarıya kullanılmaktadır.
Node.js şu anda Windows, Mac ve Linux ortamlarına kurulum paketleri mevcut. Kurulum detayları için <a href= http://nodejs.org/ >http://nodejs.org/ </a> adresini ziyaret edebilirsiniz.
</p> </b> </div> 
<br><br><br>



</div>






<style>
    .responsive {
        margin-top: 10px;
        width: 100%;
        height: auto;
    }

    p {
        margin-top: 15px;
    }
</style>